.mdl-card-dash.mdl-card {
  min-width: 250px;
  height: 400px;
}

.mdl-card-digest > .mdl-card__title {
  color: #fff;
  height: 250px;
  background:
    url('https://upload.wikimedia.org/wikipedia/commons/2/2b/Vancouver_-_Gastown_01.jpg') center / cover no-repeat #46B6AC;
}

.mdl-card-dash > .mdl-card__title {
  color: #fff;
  background:
    url('http://tfirdaus.github.io/mdl/images/laptop.jpg') center / cover no-repeat #46B6AC;
}

.mdl-layout__center {
	align-items: center;
  justify-content: center;
}

.mdl-layout__header{
  background-color: transparent;
  box-shadow: none;
}

.mdl-layout__header .mdl-layout__drawer-button {
  color: black;
}

.mdl-button {
  color: black;
}

.mdl-textfield__input {
  color: black;
}

.mdl-card__media {
    margin: 0;
}

.mdl-card__media > img {
  max-width: 100%;
}
