.mdl-card-dash.mdl-card {
  min-width: 250px;
  height: 400px;
}

.mdl-card-digest > .mdl-card__title {
  color: #fff;
  height: 250px;
}

.mdl-card-dash > .mdl-card__title {
  color: #fff;
}

.mdl-layout__center {
	align-items: center;
  justify-content: center;
}

.mdl-layout__header{
  background-color: transparent;
  box-shadow: none;
}

.mdl-layout__header .mdl-layout__drawer-button {
  color: black;
}

.mdl-button {
  color: black;
}

.mdl-textfield__input {
  color: black;
}

.mdl-card__media {
    margin: 0;
}

.mdl-card__media > img {
  max-width: 100%;
}

/* Create New Update - Editor */

.mdl-cell.editor-section-main-box {
  height: 350px;
}

.editor-image {
  height: 300px;
  width: 300px;
}

.mdl-cell.editor-section-img-box {
  position: relative;
  display: inline-block;
  height: 100%;
  min-width: 300px;
}

.mdl-cell.editor-section-img-box > img {
  opacity: .5;
}

.editor-section-image-button-box {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.mdl-cell.editor-section-form {
  position: relative;
  display: inline-block;
  vertical-align:top;
  height: 100%;
}

.editor-section-title {
  border: none;
  background-color: #eeeeee;
  font-size: 1em;
  height: 30px;
  width: 98%;
  padding: 5px;
}

.editor-section-intro {
  border: none;
  background-color: #eeeeee;
  font-size: 1em;
  height: 70px;
  width: 98%;
  padding: 5px;
}

.editor-section-body {
  border: none;
  background-color: #eeeeee;
  font-size: 1em;
  height: 125px;
  width: 98%;
  padding: 5px;
}

.editor-form-button-box {
  position: absolute;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
}

.mdl-button.editor-image-button {
  position: relative;
  bottom: 0;
}

.mdl-button.editor-form-button {
  position: relative;
  flex-grow: 1;
  bottom: 0;
}

.mdl-cell.editor-update-buttons-spacer {
  display: inline-block;
  min-width: 300px;
}

.mdl-cell.editor-update-buttons-box {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
}

.mdl-button.editor-update-button {
  flex-grow: 1;
}
